.desktop-nav-item{
    font-size: 18px !important;
    font-weight: 500 !important;
    transition: 0.5s !important;
    margin-left: 15px !important;
  }
  .desktop-nav-item:hover{
    text-decoration: underline #0D6EFD 5px !important;
    text-underline-offset: 5px !important;
  }
  .navbar-brand{
    font-weight: 700 !important;
    font-size: 22px !important;
  }
  .desktop-nav, .responsive-nav{
    padding: 15px 4px;
    background-color: rgb(35,31,32);
}
.nav-row{
    padding: 0px 20px;
}
.nav-item{
    padding-right: 20px;
    font-size: 16px;
    list-style-type: none;
}
.desktop-menu-icon{
    background-color: #ededed ;
    border-radius: 5px ;
    Padding: 0px 15px 4px 15px;
    color: #181515 ;
    font-size: 22px ;
    font-weight: bolder;
    margin-left: 10px ;
    cursor: pointer ;
}
.dropdown{
    text-align: right;
}


/* responsive menu //////////////////////////////////////////////////////// */


@media only screen and (min-width: 300px) and (max-width: 654px){
    .desktop-nav{
      display: none;
    }
    .responsive-nav{
      display: block;
    }
}
@media only screen and (min-width: 654px)  and (max-width: 1600px){
    .desktop-nav{
      display: block;
    }
    .responsive-nav{
      display: none;
    }
  }
.responsive-nav-ul li a{
    color: black;
}
.menu-btn{
    font-size:35px;
    cursor:pointer;    
  }
  .menu-icon{
    color: #0D6EFD;
    margin-left: 15px;
  }

  .menu-section{
    width: 300px;
  }
  .close-btn {
    font-size: 40px;
    cursor: pointer;
    color: #000000;
    text-align: right;
    text-decoration: none;
    margin: 0px -20px;
  }
  .responsive-hr{
    color: gray;
    margin: 0.5em auto;
    border-style: inset;
    border-width: 1px;
  }

  .indicator-wrapper{
    position: relative;
  }
.indicator{
  position: absolute;
  top: 0;
  left: 0px;
  background: #366ddc;
  color: white;
  height: 15px; 
  width: 15px;
  border-radius: 100px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}